
@{
    ViewBag.Title = "BestPractices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Community Staff</h4>
            <p class="category">List
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>File Name</th>
                        <th>File Type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Abuse and Neglect</td>
                        <td>PDF</td>
                        <td><a href="~/Files/Policies-and-Procedures/Best Practices/Abuse-and-Neglect-v004-20170207.pdf">View / Download</a> </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Anti Discrimination</td>
                        <td>Word Document</td>
                        <td><a href="~/Files/Policies-and-Procedures/Best Practices/Anti-Discrimination-V001-20130623.docx">View / Download</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Code of Conduct</td>
                        <td>PDF</td>
                        <td><a href="~/Files/Policies-and-Procedures/Best Practices/Code-of-Conduct-v006-20131231.pdf">View / Download</a></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Cultural Awareness</td>
                        <td>Word Document</td>
                        <td><a href="~/Files/Policies-and-Procedures/Best Practices/Cultural Awareness-V001-20130623.docx">View / Download</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
