
@{
    ViewBag.Title = "CommunityStaff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Community Staff</h4>
            <p class="category">List
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>File Name</th>
                        <th>File Type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Code of Conduct </td>
                        <td>PDF</td>
                        <td><a href="~/Files/Policies-and-Procedures/Community Staff/Code-of-Conduct-v006-20131231.pdf">View / Download</a> </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Emergency Protocols</td>
                        <td>Word Document</td>
                        <td><a href="~/Files/Policies-and-Procedures/Community Staff/Emergency-Protocols-V002-20140623.docx">View / Download</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Home Care Common Standards</td>
                        <td>PDF</td>
                        <td><a href="~/Files/Policies-and-Procedures/Community Staff/home care common standards v14_0.pdf">View / Download</a></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Meditech Induction Handbook</td>
                        <td>PDF</td>
                        <td><a href="~/Files/Policies-and-Procedures/Community Staff/Meditech-Induction-Handbook-v007-20170526.pdf">View / Download</a></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Protecting Service User's Money and Property</td>
                        <td>PDF</td>
                        <td><a href="~/Files/Policies-and-Procedures/Community Staff/Protecting Service User's Money and Property-V002-20170207.pdf">View / Download</a></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Work Health and Safety</td>
                        <td>PDF</td>
                        <td><a href="~/Files/Policies-and-Procedures/Community Staff/Work-Health-and-Safety-v004-20170207.pdf">View / Download</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
