
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12" id="mainmenu-user">

    <div class="col-sm-4 text-center" id="mainmenu-user-PP">
        <div class="fa fa-info icon-circle font-meditech-red"></div>
        <h2 class="font-lt text-center home-title-ht">Policies & <br>Procedures</h2>
        <p class="text-center home-blurb-ht"> </p>
        <p class="text-center"><a href="#"><button type="button" class="btn btn-danger btn-lg">Learn More</button></a></p>
    </div>

    <div class="col-sm-4 text-center" id="mainmenu-user-TR">
        <div class="fa fa-graduation-cap icon-circle  font-meditech-red"></div>
        <h2 class="font-lt text-center home-title-ht">Training <br>Resources</h2>
        <p class="text-center home-blurb-ht"> </p>
        <p class="text-center"><a href="#"><button type="button" class="btn btn-danger btn-lg">Learn More</button></a></p>
    </div>

    <div class="col-sm-4 text-center" id="mainmenu-user-N">
        <div class="fa fa-newspaper-o icon-circle  font-meditech-red"></div>
        <h2 class="font-lt text-center home-title-ht">News<br>&nbsp;</h2>
        <p class="text-center home-blurb-ht"> </p>
        <p class="text-center"><a href="#"><button type="button" class="btn btn-danger btn-lg">Learn More</button></a></p>
    </div>

    <div class="col-sm-4 text-center">
        <div class="fa fa-wpforms icon-circle  font-meditech-red"></div>
        <h2 class="font-lt text-center home-title-ht">Rosters<br>&nbsp;</h2>
        <p class="text-center home-blurb-ht"> </p>
        <p class="text-center"><a href="#"><button type="button" class="btn btn-danger btn-lg">Learn More</button></a></p>
    </div>

    <a href="@Url.Action("Index", "Forms")">
        <div class="col-sm-4 text-center" id="mainmenu-user-F">
            <div class="fa fa-external-link-square icon-circle  font-meditech-red"></div>
            <h2 class="font-lt text-center home-title-ht">Forms<br>&nbsp;</h2>
            <p class="text-center home-blurb-ht"> </p>
            <p class="text-center">
                <button type="button" class="btn btn-danger btn-lg">Learn More</button>
            </p>
        </div>
    </a>

    <div class="col-sm-4 text-center">
        <div class="fa fa-address-book icon-circle  font-meditech-red"></div>
        <h2 class="font-lt text-center home-title-ht">Who's Who<br>&nbsp;</h2>
        <p class="text-center home-blurb-ht"> </p>
        <p class="text-center"><a href="whoswho.html"><button type="button" class="btn btn-danger btn-lg">Learn More</button></a></p>
    </div>

</div>


<!-- SUB MENU -->
<!-- Sub Menu Policies & Procedures -->
<div class="col-md-12" id="submenu-user-PP" style="display: none">

    <div class="col-sm-4 text-center">
        <div class="fa fa-info icon-circle font-meditech-red"></div>
        <h2 class="font-lt text-center home-title-ht">Community<br>Staff</h2>
        <p class="text-center home-blurb-ht"> </p>
        <p class="text-center"><a href="#"><button type="button" class="btn btn-danger btn-lg">Learn More</button></a></p>
    </div>

    <div class="col-sm-4 text-center">
        <div class="fa fa-info icon-circle  font-meditech-red"></div>
        <h2 class="font-lt text-center home-title-ht">Residential<br>Staff</h2>
        <p class="text-center home-blurb-ht"> </p>
        <p class="text-center"><a href="#"><button type="button" class="btn btn-danger btn-lg">Learn More</button></a></p>
    </div>

    <div class="col-sm-4 text-center">
        <div class="fa fa-info icon-circle  font-meditech-red"></div>
        <h2 class="font-lt text-center home-title-ht">Best Practice <br>Principles</h2>
        <p class="text-center home-blurb-ht"> </p>
        <p class="text-center"><a href="#"><button type="button" class="btn btn-danger btn-lg">Learn More</button></a></p>
    </div>

    <div class="col-sm-4 text-center" id="submenu-user-PP-back">
        <div class="fa fa-arrow-left icon-circle  font-meditech-red"></div>
        <h2 class="font-lt text-center home-title-ht">Back<br>&nbsp;</h2>
        <p class="text-center home-blurb-ht"> </p>

    </div>
</div> <!-- end Sub Menu Policies & Procedures -->
<!-- Sub Menu Training Resources -->
<div class="col-md-12" id="submenu-user-TR" style="display: none">

    <div class="col-sm-4 text-center">
        <div class="fa fa-graduation-cap icon-circle font-meditech-red"></div>
        <h2 class="font-lt text-center home-title-ht">Support Worker <br>Induction</h2>
        <p class="text-center home-blurb-ht"> </p>
        <p class="text-center"><a href="#"><button type="button" class="btn btn-danger btn-lg">Learn More</button></a></p>
    </div>

    <div class="col-sm-4 text-center">
        <div class="fa fa-graduation-cap icon-circle  font-meditech-red"></div>
        <h2 class="font-lt text-center home-title-ht">Registered Nurse <br>Induction</h2>
        <p class="text-center home-blurb-ht"> </p>
        <p class="text-center"><a href="#"><button type="button" class="btn btn-danger btn-lg">Learn More</button></a></p>
    </div>

    <div class="col-sm-4 text-center">
        <div class="fa fa-graduation-cap icon-circle  font-meditech-red"></div>
        <h2 class="font-lt text-center home-title-ht">Occupational Health<br>& Safety</h2>
        <p class="text-center home-blurb-ht"> </p>
        <p class="text-center"><a href="#"><button type="button" class="btn btn-danger btn-lg">Learn More</button></a></p>
    </div>

    <div class="col-sm-4 text-center">
        <div class="fa fa-graduation-cap icon-circle  font-meditech-red"></div>
        <h2 class="font-lt text-center home-title-ht">Manual<br>& Handling</h2>
        <p class="text-center home-blurb-ht"> </p>
        <p class="text-center"><a href="#"><button type="button" class="btn btn-danger btn-lg">Learn More</button></a></p>
    </div>

    <div class="col-sm-4 text-center">
        <div class="fa fa-graduation-cap icon-circle  font-meditech-red"></div>
        <h2 class="font-lt text-center home-title-ht">Fire<br>& Evacuation</h2>
        <p class="text-center home-blurb-ht"> </p>
        <p class="text-center"><a href="#"><button type="button" class="btn btn-danger btn-lg">Learn More</button></a></p>
    </div>

    <div class="col-sm-4 text-center">
        <div class="fa fa-graduation-cap icon-circle  font-meditech-red"></div>
        <h2 class="font-lt text-center home-title-ht">Wound<br>Management</h2>
        <p class="text-center home-blurb-ht"> </p>
        <p class="text-center"><a href="#"><button type="button" class="btn btn-danger btn-lg">Learn More</button></a></p>
    </div>

    <div class="col-sm-4 text-center">
        <div class="fa fa-graduation-cap icon-circle  font-meditech-red"></div>
        <h2 class="font-lt text-center home-title-ht">Medication<br>Management</h2>
        <p class="text-center home-blurb-ht"> </p>
        <p class="text-center"><a href="#"><button type="button" class="btn btn-danger btn-lg">Learn More</button></a></p>
    </div>

    <div class="col-sm-4 text-center">
        <div class="fa fa-graduation-cap icon-circle  font-meditech-red"></div>
        <h2 class="font-lt text-center home-title-ht">Diabetic car <br>& Management</h2>
        <p class="text-center home-blurb-ht"> </p>
        <p class="text-center"><a href="#"><button type="button" class="btn btn-danger btn-lg">Learn More</button></a></p>
    </div>

    <div class="col-sm-4 text-center">
        <div class="fa fa-graduation-cap icon-circle  font-meditech-red"></div>
        <h2 class="font-lt text-center home-title-ht">Infection <br>Control</h2>
        <p class="text-center home-blurb-ht"> </p>
        <p class="text-center"><a href="#"><button type="button" class="btn btn-danger btn-lg">Learn More</button></a></p>
    </div>

    <div class="col-sm-4 text-center" id="submenu-user-TR-back">
        <div class="fa fa-arrow-left icon-circle  font-meditech-red"></div>
        <h2 class="font-lt text-center home-title-ht">Back<br>&nbsp;</h2>
        <p class="text-center home-blurb-ht"> </p>

    </div>
</div><!-- end Sub Menu Training Resources -->
<!-- Sub Menu News -->
<div class="col-md-12" id="submenu-user-N" style="display: none">

    <div class="col-sm-4 text-center">
        <div class="fa fa-newspaper-o icon-circle font-meditech-red"></div>
        <h2 class="font-lt text-center home-title-ht">Aged Care <br>&nbsp;</h2>
        <p class="text-center home-blurb-ht"> </p>
        <p class="text-center"><a href="#"><button type="button" class="btn btn-danger btn-lg">Learn More</button></a></p>
    </div>

    <div class="col-sm-4 text-center">
        <div class="fa fa-newspaper-o icon-circle  font-meditech-red"></div>
        <h2 class="font-lt text-center home-title-ht">Disability <br>&nbsp;</h2>
        <p class="text-center home-blurb-ht"> </p>
        <p class="text-center"><a href="#"><button type="button" class="btn btn-danger btn-lg">Learn More</button></a></p>
    </div>

    <div class="col-sm-4 text-center">
        <div class="fa fa-newspaper-o icon-circle  font-meditech-red"></div>
        <h2 class="font-lt text-center home-title-ht">Staff <br>&nbsp;</h2>
        <p class="text-center home-blurb-ht"> </p>
        <p class="text-center"><a href="#"><button type="button" class="btn btn-danger btn-lg">Learn More</button></a></p>
    </div>

    <div class="col-sm-4 text-center" id="submenu-user-N-back">
        <div class="fa fa-arrow-left icon-circle  font-meditech-red"></div>
        <h2 class="font-lt text-center home-title-ht">Back<br>&nbsp;</h2>
        <p class="text-center home-blurb-ht"> </p>

    </div>
</div> <!-- end Sub Menu News -->
